$primary-color: #0160c9;
$secondary-color: #0d85d8;
$error-color: #E54C38;
$white-color: #ffff;
$base-spacing: 10px;
$border-radius: 6px;
$font-s: 12px;
$font-m: 14px;
$font-weight-s: 400;
$font-weight-l: 700;